/* entree.css */
.button-entree {
    background-color: #090505;
    color: #B0B0B0;
    border: none;
    cursor: pointer;
    font-size: 1em; /* Ajuste la taille de la police si nécessaire */
    width: 100px; /* Largeur du bouton */
    height: 100px; /* Hauteur du bouton (doit être identique à la largeur pour un cercle parfait) */
    border-radius: 50%; /* Rend le bouton circulaire */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; /* Optionnel : stylise le texte en majuscules */
    transition: transform 0.3s ease; /* Transition sur la propriété transform */
    position: relative;
  }
  
  .button-entree {
    background-color: #090505;
    border: none;
    border-radius: 50%; /* Rend le bouton circulaire */
    padding: 150px; /* Ajuste la taille de ton bouton */
    cursor: pointer;
    transition: transform 0.3s; /* Transition pour le scale */
  }
  
  .button-entree:hover {
    transform: scale(0.7); /* Agrandit le bouton quand on survole */
  }
  
  .button-text {
    font-family: SF Pro Display;
    color: #B0B0B0;
    transition: transform 0.3s; /* Transition pour le texte */
  }
  
  .button-entree:hover .button-text {
    transform: scale(0.9); /* Réduit la taille du texte pour annuler l'effet du bouton */
  }

  @media (max-width: 768px) {
    .button-entree {
        padding: 100px; /* Taille plus petite pour les tablettes */
    }
}

/* Responsive pour mobiles */
@media (max-width: 480px) {
    .button-entree {
        padding: 50px; /* Taille encore plus petite pour les mobiles */
    }
}