.entree {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    position: relative;
}

.entree .div-wrapper {
    align-items: center;
    align-self: stretch;
    background-color: #090505;
    border-radius: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 135px;
    width: 135px;
    justify-content: space-around;
    padding: 128px 128px;
    position: relative;
    transition: padding 0.3s;
    
}

.entree .div-wrapper:hover {
    transition: 0.3s;
    transform: scale(0.8);
}

.entree .text-wrapper {
    color: #afafaf;
    font-family: "SF Pro Display-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    transition: color 0.3s; /* Ajoutez une transition pour l'effet de survol */
}

@media screen and (max-width: 600px) {
    .entree .div-wrapper {
        height: 100px;
        width: 100px;
        padding: 64px 64px;
    }
}

@media screen and (max-width: 400px) {
    .entree .div-wrapper {
        height: 80px;
        width: 80px;
        padding: 32px 32px;
    }
}