.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Utilise vh pour la hauteur de la fenêtre */
}

.content {
  flex: 1; /* Utilise le reste de l'espace disponible */
  align-items: flex-start;
  padding-left: 20px; /* Ajoute un espacement à gauche */
}

.accueil .section2 {
  align-self: flex-end;
}
