/* App.css */
html, body {
  margin: 0;
  padding: 0px;
  height: 100%;
  overflow: hidden; /* Empêche le scrolling */
  background-color: #090505; /* Définit la couleur de fond en transparent pour ne pas interférer */
}
