.agence {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: flex-end;
    position: relative;
    text-align: left;
    width: 100%; /* Ajoute cette ligne pour forcer la largeur à 100% */
}

.agence .AGENCE-DE-d {
    align-self: flex-start;
    color: #090505;
    font-family: "SF Pro Display-Thin";
    font-size: 6vw;
    font-weight: 100;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: left;
}
